spring:
  application:
    name: eureka-server
  cloud:
    config:
      override-none: true
server:
  port: 3001

eureka:
  server:
    enable-self-preservation: false
  instance:
    hostname: eureka1
  client:
    register-with-eureka: false
    fetch-registry: false
